<h1>
    {{ prime.name }}
</h1>

{% for part in parts %}
  <section>
    <h2>{{ part.name }}</h2>

    {% if part.relics is empty %}
      <p>Nenhuma relic dropa esse componente.</p>
    {% else %}
      <ul>
        {% for relic in part.relics %}
          {% set slug = relic.name|lower|replace({' ': '_'}) %}

          <li>
            <a href="/relics/{{ slug }}">{{ relic.name }}</a>

            {% if loader.isVaulted(relic.name) %}
              <span style="color: red;"> X</span>
            {% else %}
              <span style="color: green;"> ✓</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
{% endfor %}
