services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: "../src/"
        exclude: "../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}"

    App\Service\JsonLoader:
        arguments:
            $projectDir: "%kernel.project_dir%"
