services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: "../src/"
        exclude: "../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}"

    App\Service\JsonLoader: ~


    Meilisearch\Client:
        arguments:
            $url: '%env(MEILISEARCH_URL)%'
            $apiKey: '%env(MEILISEARCH_KEY)%'

