<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Equinoxer{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('screenshots/favicon.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <div class="credits-overlay">
            <a href="https://github.com/EduLoboM" target="_blank" class="credits-text">
                <img src="{{ asset('screenshots/favicon.png') }}" alt="EduLoboM" class="credits-avatar">
                <span>Credits</span>
            </a>
        </div>
    </body>
</html>
